html
  head
    title= title
  body
    header
        nav
            ul
                li: a(href='/') Home
                li: a(href='/restaurants') Restaurants
                li: a(href='/addrestaurant') Add Restaurant
    //-the following is for what the inheriting pages will extend upon
    block content