extends layout

block content
    h1 Register

    if error
        p(style={color: 'red'}) #{error}

    form(method="POST" action="/register")
        div
            label(for="username") Username:
            input(type="text" name="username" required)

        div
            label(for="password") Password:
            input(type="password" name="password" required)

        button(type="submit") Create Account
